@namespace SaibaData.Blazor.Components
<div @attributes="AnyAdditionalAttributes">
<div class="sbr-card round-top @RoundBaseCssClass @CssClass">
    <div class="@HeaderCssClass">
        <span>@Header</span> 
        @if (@Collapsible) {
            @if (@Collapsed)
            {
                <div class="action-right" @onclick="OnShowHideClick"   aria-hidden="true">
                   <SbrSvg ResourceName="library/Svgs/DownArrow.svg"></SbrSvg>
                </div>
            }
            else
            {
                <div class="action-right"  @onclick="OnShowHideClick" aria-hidden="true">
                   <SbrSvg ResourceName="library/Svgs/UpArrow.svg"></SbrSvg>
                </div>
            }
        }
    </div>
    @if (!@Collapsed)
    {
        <div class="card-body">
            @Body
        </div>
        <div class="@RoundBaseCssClass @ActiveCssClass">
            @Actions
        </div>
    }
</div>
</div>
