@namespace SaibaData.Blazor.Components
@typeparam TItem

@foreach(TItem item in Items ?? Array.Empty<TItem>())
{
    <div class="card card-body bg-light">
        <div>
            @ChildContent!(item)
        </div>
    </div>
}

@code {
   

    [Parameter]
    public RenderFragment<TItem>? ChildContent { get; set; }

    [Parameter]
    public IEnumerable<TItem>? Items { get; set; }
    
}